@font-face {
  font-family: 'GmarketSansBold';
  src: url('/fonts/GmarketSansBold.woff2') format('woff2'),
       url('/fonts/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PretendardVariable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
} 